<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Csp\Observer\Render">
        <plugin name="outeredge_disable_csp" type="OuterEdge\DisableCsp\Plugin\BypassMagentoCsp" />
    </type>
</config>
